In [40]:
import pandas as pd
import numpy as np

In [21]:
path = 'Z:\\USS-RF-Fan-Data-Analytics\\_8_Data-from-collaborator\\October 2017\\SepOctNov HSM Furnace tags.xlsx'
df = pd.read_excel(path, sheetname='Oct17')

In [115]:
df1 = df

In [116]:
column_keep = [25,26,27,28,29,30,43,44,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62]
sensor_names = ['MAIN_FILTER_IN_PRESSURE', 'MAIN_FILTER_OIL_TEMP', 'MAIN_FILTER_OUT_PRESSURE', 'OIL_RETURN_TEMPERATURE',
                'TANK_FILTER_IN_PRESSURE', 'TANK_FILTER_OUT_PRESSURE', 'TANK_LEVEL', 'TANK_TEMPERATURE', 'FT-202B', 
                'FT-204B','PT-203','PT-204']

In [117]:
df1.shape

(160728, 63)

In [118]:
# delete some columns
df1 = df1.iloc[:,column_keep]

In [119]:
df1.shape[1]

24

In [120]:
time_index = np.arange(df1.shape[1])[::2]
value_index = np.arange(df1.shape[1])[1::2]
print(time_index)
print(value_index)

[ 0  2  4  6  8 10 12 14 16 18 20 22]
[ 1  3  5  7  9 11 13 15 17 19 21 23]

In [121]:
time_col = df1.iloc[:,time_index]
value_col = df1.iloc[:,value_index]

In [122]:
num_values = value_col.iloc[0,:]
print(num_values)

Unnamed: 26       434
Unnamed: 28       515
Unnamed: 30       401
Unnamed: 44       784
Unnamed: 48       401
Unnamed: 50       401
Unnamed: 52       846
Unnamed: 54       991
Unnamed: 56    159776
Unnamed: 58    150034
Unnamed: 60    160727
Unnamed: 62    153792
Name: 0, dtype: object

In [123]:
time_col = time_col.drop(0)
value_col = value_col.drop(0)

In [124]:
dfs = []
for i in range(len(sensor_names)):
    temp = pd.DataFrame({'time': time_col.iloc[:,i], 'value': value_col.iloc[:,i]})
    dfs.append(temp.dropna())

In [137]:
dfs[0].iloc[112,:]

time     2017-10-06 06:33:38.019000
value                           Bad
Name: 113, dtype: object

In [139]:
dfs[0]

                           time    value
1    2017-10-01 01:01:48.009000  75.4006
2    2017-10-01 01:01:49.003000  75.4776
3    2017-10-01 01:01:50.007000  75.5181
4    2017-10-01 01:01:51.001000  75.4006
5           2017-10-01 01:01:52  75.3195
6    2017-10-01 01:01:53.007000  75.4006
7           2017-10-01 01:01:54  75.4006
8    2017-10-01 01:01:55.005000  75.4006
9           2017-10-01 01:01:56  75.1168
10   2017-10-01 01:01:57.005000  75.3195
11   2017-10-01 01:01:58.009000  75.4776
12   2017-10-01 01:01:59.004000  75.4411
13   2017-10-01 01:02:00.010000  75.4411
14   2017-10-01 01:02:00.996000  75.4411
15   2017-10-01 01:02:02.001000  75.4776
16   2017-10-01 01:11:48.020000  75.4776
17   2017-10-01 01:11:49.027000  75.5587
18   2017-10-01 01:11:50.029000  75.5992
19   2017-10-01 09:11:49.047000  76.1992
20   2017-10-01 17:11:49.019000  75.1573
21   2017-10-02 00:21:49.033000  75.0803
22   2017-10-02 00:21:50.028000  75.2384
23   2017-10-02 00:21:51.033000  75.1978
24   2017-10-02 00:21:52.028000  75.1573
25   2017-10-02 00:21:53.023000  75.1573
26   2017-10-02 00:21:54.028000  75.1978
27   2017-10-02 00:21:55.033000  75.2789
28   2017-10-02 00:21:56.038000  75.1978
29   2017-10-02 00:21:57.033000  75.1573
30   2017-10-02 00:21:58.038000  75.0803
..                          ...      ...
405  2017-10-30 15:02:25.013000  76.0817
406  2017-10-30 15:02:26.010000  76.0006
407  2017-10-30 15:02:27.014000    75.96
408  2017-10-30 15:02:28.011000  76.0006
409  2017-10-30 15:02:29.009000  76.0411
410  2017-10-30 15:02:30.014000  76.0411
411  2017-10-30 15:02:31.009000  76.0411
412  2017-10-30 15:02:32.015000  76.0006
413  2017-10-30 15:02:33.011000  76.1222
414  2017-10-30 15:02:34.015000  76.0817
415  2017-10-30 15:02:35.011000  76.0411
416  2017-10-30 15:12:20.012000  76.0411
417  2017-10-30 23:12:19.961000  76.3209
418  2017-10-31 07:12:19.029000  77.1236
419  2017-10-31 15:12:18.971000  75.0803
420  2017-10-31 16:52:26.022000  75.4411
421  2017-10-31 16:52:27.022000  75.4006
422  2017-10-31 16:52:28.020000  75.4411
423  2017-10-31 16:52:29.027000  75.4776
424  2017-10-31 16:52:30.026000  75.4776
425  2017-10-31 16:52:31.024000  75.5181
426  2017-10-31 16:52:32.022000  75.5181
427  2017-10-31 16:52:33.020000  75.5181
428  2017-10-31 16:52:34.027000  75.5181
429  2017-10-31 16:52:35.026000  75.5181
430  2017-10-31 16:52:36.024000  75.5587
431  2017-10-31 16:52:37.022000  75.5587
432  2017-10-31 16:52:38.021000  75.4776
433  2017-10-31 16:52:39.019000  75.4006
434  2017-10-31 16:52:40.017000    75.36

[434 rows x 2 columns]

In [146]:
a = dfs[0]
a[~a['value'].isin(['Bad'])].index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            425, 426, 427, 428, 429, 430, 431, 432, 433, 434],
           dtype='int64', length=432)